<!DOCTYPE html>
<html>
	<head>
		<title>Hello WebSocket</title>
		<script type="text/javascript" rel="javascript" src="http://cdn.sockjs.org/sockjs-0.3.4.min.js"></script>
		<script type="text/javascript" rel="javascript"
				src="https://rawgit.com/jmesnil/stomp-websocket/master/lib/stomp.min.js"></script>
		<script type="text/javascript">

			function createWebSocket(host, inputPath, outputPath, receiveCallback) {
				var stompClient = null;

				function doConnect() {
					var socket = new SockJS(host);
					stompClient = Stomp.over(socket);

					stompClient.connect({}, function (frame) {
						console.log('Connected: ' + frame);
						stompClient.subscribe(outputPath, receiveCallback);
					});
				}

				function doDisconnect() {
					if (stompClient != null) {
						stompClient.disconnect();
					}
					console.log("Disconnected");
				}

				function doSend(json) {
					stompClient.send(inputPath, {}, JSON.stringify(json));
				}

				return {send: doSend, connect: doConnect, disconnect: doDisconnect}
			}

			var websocket = createWebSocket(
				'/erin/WebSockets', "/Input/Components/Message", '/Output/Components',
				function (component) {
					console.log(JSON.parse(component.body));
				}
			);

		</script>
	</head>
	<body onload="websocket.disconnect()">
		<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on
			Javascript being enabled. Please enable
			Javascript and reload this page!</h2></noscript>
		<div>
			<button onclick="websocket.connect();">Connect</button>
			<button onclick="websocket.disconnect();">Disconnect</button>
			<button onclick="websocket.send({'userId': '1','value': 'I hate you'});">Send
			</button>
		</div>
	</body>
</html>
